* {
  box-sizing: border-box;
  outline: 2px solid red;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5em;
}

.heading {
  background-color: rgb(252, 167, 136);
  width: 400px;
  padding: 5px;
  margin: 8px auto;
}
h1 {
  text-align: center;
}

.recipes {
  outline: 2px solid blue;
  margin: 8px;
  padding: 5px;
}

ul {
  list-style: none;
  padding: 5px;
  margin: 8px;
  outline: 2px solid black;
}

.recipe {
  display: inline-block;
  background-color: azure;
  padding: 5px;
  margin: 8px;
  outline: 2px solid purple;
}

a {
  padding: 5px;
  display: inline-block;
  margin: 8px;
}

a:hover {
  background-color: aquamarine;
}
